#cities {
    float: left;
    width: 25%;
    background-color: blue;
}

#wxinfo {
    float: right;
    width: 75%;
}

#current {

}

#forecast {

}

.currentCard{
    width: 300px;
    background-color: lightblue;
}

.forecastCard{
    background-color: lightgreen;
    width: 18%;
    float: left;
    margin: 1%;
}

img{
    float: left;
}

#temp {
    font-size: 50px;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}