body{
    background-color: lightblue;
}

#cities {
    float: left;
    width: 25%;
}

#wxinfo {
    width: 75%;
    float: right
}

#current {
    text-align: center;
    align-items: center;
    background-image: url("background.jpg");
}

.currentCard{
    background-color: rgba(0, 233, 250, 0.8);
    margin: 1%;
    width: fit-content;
    margin: auto;
}

#forecast {
    text-align: center;
}

.forecastCard{
    background-color: lightgreen;
    width: 18%;
    float: left;
    margin: 1%;
}

button{
    width: 90%;
    padding: 3px;
    background-color: white;
    margin: 2px;
}

#temp {
    font-size: 50px;
}

h1, h4, h5 {
    text-align: center;
}

h3 {
    background-color: darkgray;
    text-align: center;
    margin: 3px;
}

#extremelyHighUV{
    background-color: purple;
    color: white;
}

#veryHighUV{
    background-color: red;
    color: white;
    align-self: auto;
}

#highUV{
    background-color: orange;
    color: white;
}

#mediumUV{
    background-color: rgba(246, 250, 0, 0.5);
}

#lowUV{
    background-color: rgba(0, 250, 0, 0.5);;
    color: white;
}